<div class="details">
  <span class="full-name"><%= address.full_name %></span>
  <br/>
  <%= address.address1 %>
  <% if address.address2.present? %>
    <br/>
    <%= address.address2 %>
  <% end %>
  <br/>
  <%= [address.city, address.state ? address.state.name : address.state_name].join(', ') %>
  <br/>
  <%= address.country.name %>
  <%= address.zipcode %>
</div>
