!!! html
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => "http://#{Spree::Config[:site_url] }#{asset_path('email/all.css')}"}
  %body
    #wrapper
      %header
        = render :partial => 'shared/email/header'

      %section#main
        = yield

      %footer
        = render :partial => 'shared/email/footer'
